.side-panel{
    width:9em;
    height: 100%;
    border: 1px solid rgba(12, 226, 233, 0.932);
    // background-color: #53c9f8
    background-image: linear-gradient(to top,rgb(37, 236, 80),rgb(35, 182, 240))
}