.cart{
    margin: 0 75px;
}
.empty-cart{
    margin-top: 50px;    
}

.text-large{
    font-size: 80px;
}
.text-theme{
    color: rgba(42, 231, 13, 0.829);
}

.mb-50{
    margin-bottom: 50px;
}
.cart-empty-img{
    width: 200px;
}
.btn-theme{
    border-radius: 4%;
    border: none;
    padding: 1%;
    color: #fff;
    background-color: rgba(42, 231, 13, 0.829);
}